
#wrapper {
    width:100%;
    height:100%;
    position:absolute;
    font-family:'Geneva', sans-serif;
}

#info-bar {
    position: relative; 
    background-color:white; 
    padding:20px; 
    z-index: 10; 
    height:100px; 
    overflow:scroll;
    font-size:0.9em;
}

#text2 {
    color:#EC7063;
}

#maze-outer-position {
    position:absolute; 
    left:0; 
    top:0;
}

#maze-inner-position {
    position: relative; 
    margin-top:100px; 
    margin-left:10px;
}

#maze {
    font-size:2em; 
    color:grey; 
    position: absolute;
}